/* CSS styles for the invoice */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.invoice {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .invoice-header h2 {
        margin: 0;
    }

.customer-details {
    margin-bottom: 20px;
}

    .customer-details p {
        margin: 5px 0;
    }

.order-details {
    margin-bottom: 20px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.product-details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

    .product-details p {
        margin: 0;
    }

        .product-details p:first-child {
            width: 45%;
        }

        .product-details p:nth-child(2) {
            width: 20%;
        }

        .product-details p:nth-child(3) {
            width: 15%;
        }

        .product-details p:last-child {
            width: 20%;
        }

.basketTotalContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

    .basketTotalContainer h4 {
        margin: 0;
    }

.basketTotal {
    margin-left: auto;
    /* Align to the right */
    padding-right: 88px;
}

.totalPayment {
    text-align: right;
    padding-right: 88px;
}

.button-container {
    margin-top: 20px;
    text-align: right;
}

    .button-container button {
        padding: 10px 20px;
        background-color: #6c757d;
        /* Grey color */
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
        transition: background-color 0.3s;
        /* Smooth transition */
    }

        .button-container button:hover {
            background-color: #495057;
            /* Darker grey on hover */
        }
